compile_commands.json
build/*
.vscode/*
.cache/*
sdkconfig
sdkconfig.old
test/non-embedded-controller/linux/uart/control
test/non-embedded-controller/linux/uart/datos.txt
test/non-embedded-controller/linux/wifi/a.out
